* {
  box-sizing: border-box;
}

.AddToCart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

#counter {
  margin: 0rem 0.5rem;
  padding: 0rem 0.3rem;
  width: 3rem;
  background-color: aliceblue;
  border: 1px gray solid;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  align-items: center;
  display: flex;
}

.plus,
.minus {
  width: 1rem;
}
