/* globals */

:root {
  --yellow: #ffd101;
}

.hero {
  display: flex;
  height: 777px;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  background-image: url("../assets/bgImg.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.content {
  width: 45%;
}

.content h1 {
  font-size: 3rem;
}

button {
  margin: 2rem 0rem 0rem 0rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px black solid;

  cursor: pointer;
  font-size: 1.2rem;
  background-color: var(--yellow);
  background: linear-gradient(-45deg, #00000000 40%, #fff 0 60%, #fff 0)
      right/300% 100% no-repeat,
    linear-gradient(-45deg, var(--yellow) 40%, #fff 0 60%, var(--yellow) 0)
      right/300% 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
}

button:hover {
  background-position: left;
  transition: 0.6s;
}
