/* title and search */

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
}

/* shop items container */
.item-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
